<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>idC Comunication</title>
    <style>
        body {
            background-image: url('/idC-Communication/Source/img/background.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="/Source/style_css/idC_net.css">
    <link rel="icon" href="/Source/img/logo.png" sizes="any">
    <link rel="icon" href="/Source/img/logo.png" type="image/svg+xml">
</head>
<body>
<div class="background-image-element"></div>
<div class = "header">
    <div class = "logo_welcome">
    <img src="/idC-Communication/Source/img/logo.png" alt="logo" class = "logo_header">
        <div class = "logo_word"> <b> idC Communication </b> </div>
        </div>
    <div class = "button_welcome">
    <button type="submit" class = "welcome_button" id = "login_welcome">Login</button>
    <button type="submit" class = "welcome_button" id = "signup_welcome">Signup</button>
        </div>
</div>
</body>
</html>
